<h2 class="text-center">Ajoutez un Pokemon</h2>

<form #addForm="ngForm" class="my-5" (ngSubmit)="onSubmit(addForm)">
  <div class="container">
    <div class="row">
      
        <div class="col col-md-4">
          <label for="title" class="form-label">Titre</label><br>
          <input type="text" name="title" id="title" class="form-control" ngModel required>
        </div>
      
      
      <div class="col col-md-4">
        <label for="value" class="form-label">Montant</label>
        <input type="number" name="value" id="value" class="form-control" ngModel required>
      </div>
      <div class="col col-md-4">
        <label for="category">Catégorie</label>
        <select name="category" id="category" class="form-control" ngModel required>
          <option value="depense">Dépense</option>
          <option value="entrée">Entrée</option>
        </select>
      </div>
      
      
    </div>
  </div>
  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
</form>

<h3 class="text-center">Votre solde est de {{ result }}</h3>

<div class="container my-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">La date</th>
        <th scope="col">Le montant</th>
        <th scope="col">La cattégorie</th>
      </tr>
    </thead>
    <tbody *ngFor="let transaction of transactions">
      <tr *ngIf="transaction.category == 'Dépense'">
        <th scope="row">{{ transaction.id }}</th>
        <td class="colorRed">{{ transaction.title }}</td>
        <td class="colorRed">{{ transaction.created | date: "shortDate" }}</td>
        <td class="colorRed">{{ transaction.value }} €</td>
        <td class="colorRed">{{ transaction.category }}</td>
      </tr>
      <tr *ngIf="transaction.category == 'Entrée'">
        <th scope="row">{{ transaction.id }}</th>
        <td class="colorGreen">{{ transaction.title }}</td>
        <td class="colorGreen">{{ transaction.created | date: "shortDate" }}</td>
        <td class="colorGreen">{{ transaction.value }} €</td>
        <td class="colorGreen">{{ transaction.category }}</td>
      </tr>
      
    </tbody>
  </table>
</div>

<!-- <app-transaction-form [transactionAdd]="transactionParent"></app-transaction-form> -->